.card {
        padding: 1em;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        background-color: #99cc00;
      }

    .card {
          max-width: 360px;
        }

    .calc {
        padding-top: 2em;
        width: 100%;
      }

    .input {
        position: relative;
        width: 100%;
      }

    .input-text {
        display: block;
        margin: 0;
        padding: 0.4rem 0.8rem;
        color: inherit;
        width: 100%;
        font-family: inherit;
        font-size: 1.6rem;
        font-weight: inherit;
        line-height: 1.8;
        border: none;
        border-radius: 0.4rem;
        transition: box-shadow 300ms;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
    
    .input-text:focus {
      outline: none;
      box-shadow: 0.2rem 0.8rem 1.6rem #3678e2;
    }

    .input-text:placeholder-shown + .input-label {
        visibility: hidden;
        z-index: -1;
      }
      .input-text:not(:placeholder-shown) + .input-label,
      .input-text:focus:not(:placeholder-shown) + .input-label {
        visibility: visible;
        z-index: 1;
        opacity: 1;
        transform:
          translate3d(0, calc((50%) - (0.4rem * 0.8) - (1.6rem * 1.8)), 0)
          scale(1.8);
        transition:
          transform 300ms,
          visibility 0ms,
          z-index 0ms;
      }

    .btn {
        position: relative;
        display: block;
        margin: 30px auto;
        padding: 0;
        overflow: hidden;
        border-width: 0;
        outline: none;
        border-radius: 2px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .6);     
        background-color: #F8C246;
        color: #fff;       
        transition: background-color .3s;
        width: 100%;
        cursor: pointer;
      }
      .btn:hover, .btn:focus {
        background-color: #dda730;
      }
      .btn > * {
        position: relative;
      }
      .btn span {
        display: block;
        padding: 12px 24px;
        font-size: 1.5em;
        font-weight: bold;
      }
      .btn:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 0;
        padding-top: 0;  
        border-radius: 100%;
        background-color: rgba(236, 240, 241, .3);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
      .btn:active:before {
        width: 120%;
        padding-top: 120%;
        transition: width .2s ease-out, padding-top .2s ease-out;
      }
      .plus {
        display: block;
        margin: 0.5em 0 1em;
        text-align: center;
        font-size: 1.5em;
        color: #fff;
      }