.container {
  display: grid;
  grid-template-columns:  repeat(4, 1fr);
  grid-template-rows: 30px 100px 100px 100px 30px;
  grid-gap: 4px;
  width: 100%;
}
.menu {
  background: lightblue;
  grid-column-start: 1;
  grid-column-end: 5;
}
.sidebar {
  background: lightyellow;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-end: 1/2;
}
.konten {
  background: pink;
  grid-column: 2/5;
}
.footer {
  background: lime;
  grid-column: 1/5;
  grid-row : 4/4;
} 

.img-sdbr {
  width: 100%;
}